body {
    margin: 0;
}

ul {
    margin: 0;
}

.danhmuc {
    background-color: #2fa4e7;
    padding: 20px;
}

.danhmuc-danhsach {
    display: flex;
    list-style: none;
    /*bỏ dấu chấm*/
}

.danhmuc-muc {
    margin: 10px;
}


.danhmuc-lienket {
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

.danhmuc-lienket:hover {
    color: grey;
}

main {
    display: flex;
    gap: 10px;
}

.noidung-trai {

    /* height: 1000px;
    background-color: aquamarine; */
    width: 85%;
    border-radius: 10px;
}

.duoi {
    display: flex;
    width: 100%;
}

.duoi1 {
    padding: 10px 10px 10px 10px;
    width: 20%;
}

.duoi2 {
    width: 80%;
    box-sizing: border-box;
}

.noidung-phai {
    /* height: 1000px;
    background-color: red; */
    width: 15%;
}

.tieude {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #2fa4e7;
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
}

.tintuc-danhsach {
    display: flex;
    justify-content: space-between;
    gap: 15px;

}

.baiviet {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.tk {
    padding: 20px 20px 5px 20px;

}

.td {
    padding: 10px 10px 10px 10px;
    margin-top: 22px;
    background-color: #2fa4e7;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.mk {
    text-align: right;
    font-size: 16px;
    color: #157ab5;
    list-style: none;
    padding-right: 20px;
}

.mk:hover {
    color: aqua;
}

.dangnhap {
    margin-top: 5px;
    width: 180px;
}

.login {
    width: 180px;
    background-color: #2FA4E7;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 5px 5px 5px 5px;
}

.MR {
    width: 180px;
    background-color: #0078D4;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 5px 5px 5px 5px;

}

button.MR {
    margin-top: 5px;
}

.time {
    text-align: right;
}

table {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

td {
    padding: 10px 8px;
    border-bottom: 1px solid #ddd;

}

.arrow {
    color: #1e90ff;
    margin-right: 5px;
}

.date {
    color: #777;
    text-align: right;
}

tr:hover {
    background-color: #f1f9ff;

}

.phai1 {
    padding-left: 20px;
}